<h1>Welcome to Superteacher!</h1>
<p>Hello <%= @student.first_name %>,</p>
<p>You have been added to the class <%= @classroom.title %>. Start exploring and learning!</p>
<p>Best regards,<br>Superteacher Team</p>
