<h1>Please use the temporary password to login to superteacher.</h1>
<p>Temporary password: <%= @new_password %></p>
<p>If you wish to change your password, please navigate to the profile section and reset your password. Use the temporary password as your old password.</p>


